.container {
    max-width: 1440px; 
    margin: 0 auto;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
}

.gallery-image {
    object-fit: cover;
    transition: transform 0.3s ease;
}
.gallery-image:hover,
.gallery-link:focus>.gallery-image {
    transform: scale(1.04);
}